%body
  - @photos.each do |photo|
    %section{class:"insta_image"}
      %img{ src: photo.image.url, class:"instagram_image" }
      %br
      = photo.caption
      %br
      = photo.tags.text.split(' ').each do |tag|
        %a{href: '/'} 
          = tag
      %br
      Uploaded by:
      = photo.user.email
      %br
      = link_to 'Edit', edit_photo_path(photo)
      %br
      = link_to 'Delete', photo_path(photo),
                        method: :delete, data: { confirm: 'Are you sure?' }
      %br
